table thead th,table tr td{
	text-align: center;
}

.pull-right{
	position: absolute;
	right: 10px;
	top: 5px;
}

.load{
	position: fixed;
	left: 35%;
	text-align: center;
	top: 20%;
	z-index: 9999;
	margin: auto;
	display: none;
}

